font1 {
	font-family: "����";
	font-size: 34px;
	font-style: italic;
	font-weight: bold;
	position:absolute;
	color: #000000;
	text-decoration: blink;
	letter-spacing: normal;
	word-spacing: normal;
	top: 242px;
	left: 243px;
	width: 557px;
}

font2
{
font-family:"����";
font-size:24px;
font-weight:bold;
}
